@import "../../variables/_variables.scss";
.nic {
  &__button {
    color: $white;
    padding: .8rem 1rem;
    border-radius: 4px;
    border: unset;
    &--secondary {
      background-color: $secondary-color;
    }
  }
}